p { 
   color:red;
   font-size: 30;
   text-aling: left;
}
 
h1 {
    color: blue;
    font-size: 50;
    text-align: center;
}

h2 { 
    color: green;
    font-size: 40;
    text-align: right;
}

.imagem {
    text-align: center;
    background: black;
}

.rodape {
   border-top-style: solid;
   background: greenyellow;
   margin-top; -8px
   margin-left: -8px;
   margin-right: -8px;
   padding: 1px;
}
     
#rodape2 {
   color: blue;
   text-align: center;
}

.cabecalho {
   border
   
   
   
